codes/quests/12_Controls_ifs_GoogleFiles.json
{
  "name": "12_Controls_ifs_GoogleFiles",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jZIIzpz8F_TiuAA3uxJYCjY9WpH3KKBP",
          "mode": "list",
          "cachedResultName": "triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jZIIzpz8F_TiuAA3uxJYCjY9WpH3KKBP"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2080,
        -288
      ],
      "id": "f50ed0fc-4d03-4d4b-bdf2-ffeb5e7da1c6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uoHBpnhNDT71xP7i",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1728,
        -304
      ],
      "id": "0a9a20f0-4bca-4f54-96ea-b67cdb3e0756",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kPwvRQLbqNqKvNUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json) }}\n\n제시한 자료를 분석하여 한 줄로 요약"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -496,
        -304
      ],
      "id": "f6bdabb8-dcab-4d59-804d-79f562bbd1f3",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ONPt4RwrRf9hUvlN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TfUVgKVMExTf-zSKecD1h79WehVKjN-15zqP9wrpy44",
          "mode": "list",
          "cachedResultName": "History_folder_triggers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfUVgKVMExTf-zSKecD1h79WehVKjN-15zqP9wrpy44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfUVgKVMExTf-zSKecD1h79WehVKjN-15zqP9wrpy44/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일 명": "={{ $('Google Drive Trigger').item.json.name }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 명",
              "displayName": "파일 명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -304
      ],
      "id": "dcdad4c2-d3b2-46c8-8020-c200f8caaaeb",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kPwvRQLbqNqKvNUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1552,
        -144
      ],
      "id": "08994aaa-cf2c-4f5f-8c5a-d7c803523473",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "HuIrUok212FLGXYW",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GN-cuXVY5EzWIbd3XXNrIzYEff7Hk8W6",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GN-cuXVY5EzWIbd3XXNrIzYEff7Hk8W6"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        -144
      ],
      "id": "fa8510d1-48e2-43a9-b85f-b236f0f2bc12",
      "name": "Move docs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uoHBpnhNDT71xP7i",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['파일 링크'] }}",
          "mode": "url"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "17NlNiXBE06bWtbFa6Uy1QAE9GOBDhsnI",
          "mode": "list",
          "cachedResultName": "sheets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17NlNiXBE06bWtbFa6Uy1QAE9GOBDhsnI"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -320
      ],
      "id": "6c6de73d-e72d-4904-9b71-ddc47cedc1ba",
      "name": "Move sheets",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uoHBpnhNDT71xP7i",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b2c36d5-f00f-491e-9bd1-a7b9982b6ab7",
              "name": "=resource",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1552,
        -304
      ],
      "id": "62e5ee2b-9671-43ce-90e8-df75d4bba230",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "resource"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1376,
        -304
      ],
      "id": "ff702528-9c99-4c04-899a-ef9afeb4be39",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1200,
        32
      ],
      "id": "ca0553d4-cb91-4906-8fff-d393b4cb4070",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1376,
        32
      ],
      "id": "ed52ecf1-1598-4fba-a38d-983fe0890cf0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uoHBpnhNDT71xP7i",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1_2mLsvPSBfSlJKIdx4RDWn7HDRTEc1E3",
          "mode": "list",
          "cachedResultName": "pdfs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_2mLsvPSBfSlJKIdx4RDWn7HDRTEc1E3"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        16
      ],
      "id": "3d87f16d-c4ae-4fb4-b9ef-edfe0210ef3a",
      "name": "Move pdfs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uoHBpnhNDT71xP7i",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-VqnQ0_ZK7cruxxxptUXwsYQE2jQ7VWq",
          "mode": "list",
          "cachedResultName": "etc",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-VqnQ0_ZK7cruxxxptUXwsYQE2jQ7VWq"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1200,
        368
      ],
      "id": "2cea3a86-d80f-4211-9d3e-34c56b6c6a65",
      "name": "Move etc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uoHBpnhNDT71xP7i",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3c15b59-4a5d-4ba1-99bd-d8bda31f0b69",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1728,
        -128
      ],
      "id": "8dde831e-961f-47bb-85a8-66f35a1d9d70",
      "name": "If.docs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e4dd909-473f-46d5-aa21-a5f191f92a46",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.spreadsheet",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1904,
        -288
      ],
      "id": "9e62472e-cf68-4753-af73-c7a01b1e1d15",
      "name": "If.sheets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d811fdee-eb6b-4d9c-96fd-1d3d4ad44803",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        48
      ],
      "id": "0c2ea399-8772-49f2-ae00-b85dc70210ad",
      "name": "If.pdfs"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1200,
        192
      ],
      "id": "5014888c-50eb-4f9f-8270-5d2ffdbffdbd",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uoHBpnhNDT71xP7i",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1024,
        192
      ],
      "id": "31949d28-9b3e-424e-8ba3-0db0467a0364",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "chatId": "8466441298",
        "text": "etc 폴더 파일 생성",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1024,
        368
      ],
      "id": "113e1928-08dc-40b2-9982-c0f6fa39557c",
      "name": "Send a text message",
      "webhookId": "15c89b65-7d12-49af-9ffe-9974750de73f",
      "credentials": {
        "telegramApi": {
          "id": "BkkRqamRgORknrmc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b2c36d5-f00f-491e-9bd1-a7b9982b6ab7",
              "name": "=resource",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        192
      ],
      "id": "3e568771-9310-40be-8bcb-ed4a5c089215",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "resource"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -672,
        192
      ],
      "id": "f6572bb4-188b-431e-85a7-f63f10483880",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef1d5b3d-cd29-4c51-b58a-5b47d54040eb",
              "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
              "rightValue": "=application/vnd.google-apps.spreadsheet",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -304
      ],
      "id": "b44e50ff-0fd6-4511-95b7-fb50787fdb60",
      "name": "If_move_sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3c15b59-4a5d-4ba1-99bd-d8bda31f0b69",
              "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -128
      ],
      "id": "8704837c-6a09-413f-9e6b-4ac46c90bd94",
      "name": "If_move_docs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cde5bf99-340f-4201-b395-09d1dc89277e",
              "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        32
      ],
      "id": "9a20652a-026c-45c8-87a8-9634816744fc",
      "name": "If_move_pdf"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TfUVgKVMExTf-zSKecD1h79WehVKjN-15zqP9wrpy44",
          "mode": "list",
          "cachedResultName": "History_folder_triggers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfUVgKVMExTf-zSKecD1h79WehVKjN-15zqP9wrpy44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TfUVgKVMExTf-zSKecD1h79WehVKjN-15zqP9wrpy44/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "한 줄 정리": "=내용 읽기 불가",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일 명": "={{ $('Google Drive Trigger').item.json.name }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 명",
              "displayName": "파일 명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -848,
        368
      ],
      "id": "2b0ce017-28cc-45e3-95a3-9df19a2c3b89",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kPwvRQLbqNqKvNUq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cde5bf99-340f-4201-b395-09d1dc89277e",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "text/csv",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        208
      ],
      "id": "6d8c8fd9-f980-45d3-8550-9c67f941061c",
      "name": "If.csv"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1BDjHA8uGPvm_P0Cd0pi7MEOYy5OpLC8p",
          "mode": "list",
          "cachedResultName": "csv",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BDjHA8uGPvm_P0Cd0pi7MEOYy5OpLC8p"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        192
      ],
      "id": "acd758f1-50c7-469f-9d07-a504ffce4c2d",
      "name": "Move csv",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uoHBpnhNDT71xP7i",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If.sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If_move_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move etc": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If.docs": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If.pdfs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If.sheets": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If.docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If.pdfs": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_move_sheet": {
      "main": [
        [
          {
            "node": "Move sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If_move_docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_move_docs": {
      "main": [
        [
          {
            "node": "Move docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If_move_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_move_pdf": {
      "main": [
        [
          {
            "node": "Move pdfs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        []
      ]
    },
    "If.csv": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move etc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19b84003-9f8a-4494-a511-3d8b5f8e4a03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cafc7e5cc8dff517f5c5cbfcd18f15d4698ef8e919ea46ab1b5281fac77b897e"
  },
  "id": "T0VbwZpBO7JUTAR7",
  "tags": []
}