codes/quests/13_RPA_multimedias.json
{
  "name": "13_RPA_multimedias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "232123ce-185f-4515-9793-6153cbc41425",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1_ne2KrRRjTVr78VZufvWWzbIgMtjNDYL",
            "mode": "list",
            "cachedResultName": "Gmail 컨설팅 문의",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1_ne2KrRRjTVr78VZufvWWzbIgMtjNDYL"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        128
      ],
      "id": "50613118-6821-426c-9470-49638d94d5fe",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 30년 경력의 총괄 전략 컨설턴트, 재무 및 견적 전문가, 매체 바잉 및 협상 전문가, 콘텐츠 제작 매니저입니다.\n제공된 고객 문의 을 분석하고, 가격 정책 을 기준으로 하여 output form 형식의 메일 예시문을 각각 작성\n\n- 담당자는 '본인' 으로 표기\n- 업무 메일 형식으로 작성\n- 메일 제목은 핵심 내용이 한 눈에 들어오게 작성\n- 받는 사람은 회사명 + 담당자명(직함) 표기\n- 본문에는 인사말, 메인 작성 목적,  본문 내용(핵심 정보 중심), 요청 사항 및 다음 단계 안내, 맺음말이 들어가야 하며, 가독성 좋게 표현\n- 서명에는 이름, 회사명,직책, 연락 가능 한 번호,이메일 표기하며, 회사명, 직책, 연락 가능 한 번호, 이메일은 가격 정책 내의 자료 참조\n- n8n object로 구분 가능하게 출력\n\n[고객 문의]\n{{ $json }}\n\n[가격 정책]\n{{ $('Extract from File1').item.json.data }}\n\n[output form]\n\"메일 제목\": text\n\"받는 사람\": mail address\n\"본문\": text\n\"서명\": text"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1552,
        128
      ],
      "id": "59b849a3-b1f1-4d26-b9c6-a04e5cc9459e",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "SoiNsIYnBNkgTInh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1iZ5rWUeFO6N8ih8x6DlH17qYez9r_u5G/view?usp=sharing",
          "mode": "url"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        128
      ],
      "id": "1054e2b7-25c7-49a5-8166-c22c17befbb7",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        608,
        128
      ],
      "id": "c07396e7-7089-490c-b42f-f06e4565f49a",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "folderId": "=1a8AH29f4AULErlZblEfbBSnStKLryIDH",
        "title": "=응대 메일_{{ $('Search files and folders').item.json.name }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2128,
        128
      ],
      "id": "9a1e37b4-c738-4931-ad72-7bedd4339cfc",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ JSON.stringify($('Message a model').item.json.content.parts[0].text) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2336,
        128
      ],
      "id": "3aa56d2b-a91d-44f2-90a8-9b292eeca8de",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 30년 경력의 음성 인식 전문가, 회의록 작성자, 교정/편집자, 법률 검토 전문가 입니다.\n다음의 녹취록을 회의록 형식으로 변경\n- 참석자의 경우 소속 회사를 기준으로 분류\n- 논의 내용의 경우 핵심 요지 및 토론 결과를 중점으로 요약하여 작성\n- 결정 및 실행 사항의 경우 최종적으로 결정된 사항과 향후 실행해야 할 구체적인 과제(담당자, 기한, 완료여부 등)를 명확히 기록\n- 대답이나 인삿말 없이 결과값만 도출\n\n\n\n[녹취록]\n{{ $json.content }}\n\n[output form]\n## 회의명 :\n## 일시 :\n## 장소 및 플랫폼 :\n## 참석자 :\n### 회사명 1\n- 직책 이름\n- 직책 이름\n### 회사명 2\n- 직책 이름\n- 직책 이름\n## 회의 안건 및 논의 내용\n### 안건 1\n- 논의 내용\n- 논의 내용\n### 안건 2\n- 논의 내용\n- 논의 내용\n## 주요 결정 및 실행 사항\n## 기타 공유 및 차기 회의 예정\n- 기타 공유 사항 : (회의 중 논의되었으나, 실행 사항으로 이어지지 않은 정보나 다음 회의를 위한 참고 사항 등) \n- 차기 회의 예정 : YYYY년 MM월 DD일 (요일) HH:MM / (장소)"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        976,
        432
      ],
      "id": "c1941d9e-aa66-4f6d-9b7b-30cff3264549",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SoiNsIYnBNkgTInh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1a8AH29f4AULErlZblEfbBSnStKLryIDH",
        "title": "=회의록 변경_{{ $('Google Drive Trigger').item.json.name }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1328,
        432
      ],
      "id": "91b09de7-bfda-423c-b37f-dffaebd4e57d",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model1').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1536,
        432
      ],
      "id": "2ed129c6-26a7-43fc-a8de-ac8afae07946",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create a document1').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1QI2PoJTPfx36cZ-gnXOH-XhXKVVfsdeR",
          "mode": "list",
          "cachedResultName": "아이템 제안",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QI2PoJTPfx36cZ-gnXOH-XhXKVVfsdeR"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2176,
        432
      ],
      "id": "b4883048-a056-4a98-9120-8664cad8571e",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        608
      ],
      "id": "6c769a76-09cf-406a-aadf-9becb729f4c5",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=**[최종 프롬프트] 회의록 및 가격 정책 기반 공식 제안서 검토 요청 메일 작성**\n\n**[목표]**\n제공된 회의록과 당사 내부 가격 정책을 근거로, 고객에게 발송할 **논의 사항 확정 및 공식 제안서(견적서) 검토 요청 메일** 초안을 아래 [Output Form]에 맞춰 작성합니다.\n- 대답이나 인삿말 없이 결과값만 도출\n\n**[페르소나 및 회사 정보]**\n\n  * **발신 회사:** \n  * **발신자:** [내 이름] [직책] (30년 경력의 비즈니스 애널리스트/PM/가격 전략가/법무 전문가 역할 반영)\n  * **연락처:** 연락처: [전화번호], 이메일: [이메일 주소]\n\n**[참조 데이터의 가정 및 활용]**\n- 회의록\n{{ $('Get a document1').item.json.content }}\n- 가격정책\n{{ $json.data }}\n\n1.  **회의록 활용:** 회의록에서 다음 핵심 정보를 추출하고 메일 내용에 **확정된 합의 사항**으로 명시합니다.\n      * 프로젝트명/캠페인명: **[A 프로젝트명]**\n      * 회의일자: **[YYYY. MM. DD]**\n      * 고객사명, 수신자 직책/성함: **[B 고객사명], [C 수신자 직책] [D 수신자 성함]**\n      * 회의 목적/내용: **[E 캠페인 전략 및 실행 방안]**\n      * 결정된 핵심 콘셉트: **[F '고객 맞춤형 디지털 전환' 콘셉트]**\n      * 전략 목표(KPI): **[G 3개월 내 웹사이트 트래픽 20% 증대 및 리드(Lead) 100건 확보]**\n      * 총 금액 및 배분 구조: **[H 총 9,500만 원]** 규모로 **[제작비 50%, 매체비 40%, PMO/컨설팅 비용 10%]** 배분 확정.\n2.  **가격 정책 활용:** 회의에서 논의된 예산이 당사의 \\*\\*[내부 가격 정책/견적 기준]\\*\\*을 **합리적으로** 반영했음을 명시하여 신뢰도를 높입니다.\n3.  **날짜 설정:** 고객 검토 기한은 \\*\\*[2025년 12월 5일]\\*\\*로 임의 설정합니다.\n4.  **용어 통일:** '제안서'와 '견적서' 중 \\*\\*'제안서'\\*\\*를 메일 전반에 걸쳐 일관성 있게 사용합니다.\n\n**[Output Form]**\n\n```\n제목 [A 프로젝트명] [YYYY. MM. DD] 논의 사항 확정 및 공식 제안서 검토 요청 건\n[B 고객사명] [C 수신자 직책] [D 수신자 성함] 님께,\n바쁘신 일정에도 귀한 시간을 내어 **[E 캠페인 전략 및 실행 방안]**에 대해 심도 깊은 논의를 진행해 주셔서 진심으로 감사드립니다.\n회의록을 기반으로, 당일 논의된 핵심 사항과 합의 내용을 다음과 같이 요약 확정합니다.\n- 핵심 콘셉트: [F '고객 맞춤형 디지털 전환' 콘셉트]\n- 전략 목표: [G 3개월 내 웹사이트 트래픽 20% 증대 및 리드(Lead) 100건 확보]\n- 예산 구조: 총 [H 총 9,500만 원] 규모로 [제작비 50%, 매체비 40%, PMO/컨설팅 비용 10%] 배분 구조 확정\n회의에서 논의된 [예산/비용] 및 **[당사의 내부 가격 정책/견적 기준]**을 반영하여 작성된 공식 **[제안서]**를 첨부합니다.\n- 해당 문서에는 [총액, 세부 항목별 단가, 계약 조건] 등의 세부 가격 정보가 포함되어 있습니다.\n공식적인 프로젝트 착수를 위해, 다음 단계 진행을 요청드립니다.\n1. 요청 사항: 첨부된 **[제안서]**를 **[고객사 내부 관련 부서/담당자]**와 함께 면밀히 검토해 주시길 부탁드립니다.\n2. 검토 기한: **[2025년 12월 5일]**까지 최종 검토 결과를 회신해 주시면 감사하겠습니다.\n3. 차기 진행: 검토 후 결정 사항에 따라 [다음 단계 (예: 착수 미팅, 계약서 서명)] 일정을 조율하겠습니다.\n[필수 삽입] 본 메일 및 첨부된 자료에 포함된 **[가격 정보, 전략, 기술 등]은 당사의 영업 비밀에 해당하며 기밀을 유지해야 합니다. 무단으로 복제, 배포하거나 제 3자에게 유출하는 것을 엄격히 금지합니다.\n[A 프로젝트명]이 성공적으로 진행되도록 최선을 다하겠습니다.\n[B 고객사명]의 긍정적인 회신을 기다리겠습니다.\n\n감사합니다.\n---\n[내 이름] [직책]\n유어 미디어\n연락처: [전화번호]\n이메일: [이메일 주소]\n```"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        976,
        608
      ],
      "id": "5b40e4a7-bd62-4d2f-ad3a-ab984b395ccb",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "SoiNsIYnBNkgTInh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1iZ5rWUeFO6N8ih8x6DlH17qYez9r_u5G/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        608
      ],
      "id": "cd5a0baf-b0ce-42e2-a8b7-6ad62c57c737",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        592,
        608
      ],
      "id": "a82e19af-61bd-4160-8f25-b0c222105c5a",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "folderId": "1a8AH29f4AULErlZblEfbBSnStKLryIDH",
        "title": "=아이템 제안"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1328,
        608
      ],
      "id": "1de62c01-7d77-4e18-8bb9-cd35bc6663fa",
      "name": "Create a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model2').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1536,
        608
      ],
      "id": "b581aa4c-346b-48ae-bca9-bf212f751f99",
      "name": "Update a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        256
      ],
      "id": "48d86a52-da07-434b-bf22-b3347fdb07b4",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1184,
        256
      ],
      "id": "60da8865-90d7-4443-b842-2043fab9a288",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Search files and folders').item.json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b51fe620-e9dd-4a7d-9c5c-32f6b4ca22b0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b76edc0a-e8fc-4e32-ace5-6208a6ce84cc",
                    "leftValue": "={{ $('Search files and folders').item.json.mimeType }}",
                    "rightValue": "=application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22380063-16a7-4382-9a01-d5395c45033b",
                    "leftValue": "={{ $('Search files and folders').item.json.mimeType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        800,
        112
      ],
      "id": "0de0a481-e955-4861-ba9b-eaaf91df179f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Search files and folders').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        992,
        128
      ],
      "id": "d3d39b41-a044-4935-8a16-cb89666a03da",
      "name": "Get a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        0
      ],
      "id": "e2d72dcf-b890-4063-ba4b-0d94fc6a6bdb",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p9iGa545CpY52JCd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1376,
        0
      ],
      "id": "b9dec07f-a788-44ba-89a8-74121300177c",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6aa72e9e-f5bb-45c6-b72a-8a392d140dca",
              "name": "content",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        0
      ],
      "id": "26e6b833-715c-4c24-9c8c-5eb5908e2eb4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        176,
        -784
      ],
      "id": "bc4b3cfc-bf15-409a-bd90-cedceca6c514",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -784
      ],
      "id": "e431460b-904f-4cfb-86f2-837b731432b0",
      "name": "Download file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        880,
        -704
      ],
      "id": "0e7a8a6f-848e-4596-a0a0-fcc7acec6ade",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1072,
        -704
      ],
      "id": "0a6b941e-e63d-4054-b571-5851253b106f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b51fe620-e9dd-4a7d-9c5c-32f6b4ca22b0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b76edc0a-e8fc-4e32-ace5-6208a6ce84cc",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "=application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22380063-16a7-4382-9a01-d5395c45033b",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        688,
        -848
      ],
      "id": "0597a562-8e9b-4a04-b77b-06eea30361d2",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        880,
        -832
      ],
      "id": "b6896c72-535d-4c06-832a-d3756b0067d4",
      "name": "Get a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -960
      ],
      "id": "71a77d1f-0440-46b3-8989-e9b4ae973711",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p9iGa545CpY52JCd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1264,
        -960
      ],
      "id": "0174ff55-7b38-4e51-81b5-ce4d6ba15738",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6aa72e9e-f5bb-45c6-b72a-8a392d140dca",
              "name": "content",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -960
      ],
      "id": "06d89139-e5f6-4667-b095-cd9ee8dae486",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        432
      ],
      "id": "8bf68266-28c2-46fe-9463-fc0cee90d725",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1-EO-Bcp3uVKDmVORSnHl4zQSrowctQKW"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1904,
        128
      ],
      "id": "5c533dcf-affc-4d2f-bc12-1b5f8d3e072a",
      "name": "Move file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ek7-b12VfKhhENuIKPDaMBtOJRwKhqAo",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        432
      ],
      "id": "3fa57431-339c-479e-bb71-ebbc33da9d3a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QI2PoJTPfx36cZ-gnXOH-XhXKVVfsdeR",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "220c29c9-4a8f-423c-bc63-2f831f3252ec",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "name": "영산 콘텐츠용",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        432
      ],
      "id": "dbc20c5b-131e-47c3-beec-ce94db39c9ec",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "10Yp0NkoSxOBWI_JI9cnGb1dTdm9c-HWO",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1952,
        432
      ],
      "id": "438ab4a6-8476-41e0-abb3-db9393ccff23",
      "name": "Move file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        784
      ],
      "id": "f0f12d98-a53a-4c10-ba4f-8a1c19f5d609",
      "name": "Get a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "10Yp0NkoSxOBWI_JI9cnGb1dTdm9c-HWO",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        784
      ],
      "id": "1d098ce5-f3a4-4743-9418-353621169bd4",
      "name": "Google Drive Trigger2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 30년 경력의 총괄 전략 컨설턴트이자 콘텐츠 제작 매니저입니다. 아래 고객 문의 내용과 회의록을 분석하여, 클라이언트의 목표에 최적화된 소셜미디어(숏폼 환경 최우선) 영상 콘텐츠 기획안 초안을 작성해야 합니다.\n\n[참고 자료]\n- 문의 내용\n{{ $json.data }}\n- 회의록\n{{ $('Get a document4').item.json.content }}\n\n[출력 형식 및 필수 목차]\n1. 프로젝트 개요 및 목표 \n- 클라이언트 목표(참조.클라이언트 캠페인 정보 및 목표) 재확인 및 소셜미디어 KPI(조회수, 참여율 등) 설정.\n\n2. 타겟 분석 및 인사이트\n- 클라이언트 타겟이 소셜미디어에서 어떤 콘텐츠에 반응하는지 분석.\n3. 핵심 콘텐츠 전략 및 컨셉\n- (총괄 전략 컨설턴트 역량): 브랜드 정보(참조.클라이언트 브랜드의 상세 정보)를 반영한 핵심 메시지 및 캠페인 관통 컨셉 제시.\n4. 영상 콘텐츠 상세 기획\n- (콘텐츠 제작 매니저 역량): 소셜미디어(숏폼) 환경에 맞춘 러닝타임(15초~60초), 톤앤매너, 포맷(릴스, 틱톡 등) 명시.\n- 주요 영상 시퀀스 (A/B/C) 또는 시리즈 아이디어 제시.\n5. 제작 프로세스 및 관리 방안\n- 예상 제작 일정(스케줄) 및 콘텐츠 품질 관리 계획 명시.\n6. 예상 소요 예산 및 집행 계획\n- (선택) 제작 규모 및 숏폼 매체 집행에 대한 견적 범위(예상 비용) 제시.\n\n위에 제시된 정보를 모두 분석하고, 클라이언트의 목표와 브랜드 아이덴티티를 완벽히 반영하여 소셜미디어용 영상 콘텐츠 기획안 초안을 작성하십시오. 기획안 예시의 형식을 따르며, 모든 내용은 숏폼 환경에서의 바이럴 및 참여를 극대화할 수 있도록 구체적인 콘텐츠 아이디어(시퀀스, 포맷)를 중심으로 구성해야 합니다.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        976,
        784
      ],
      "id": "e400923f-a3d2-42b0-9683-7574e327883e",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "SoiNsIYnBNkgTInh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        784,
        784
      ],
      "id": "a4439649-93da-45fe-8ad5-cf4dba52af3c",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        784
      ],
      "id": "ec3c0468-c7b7-4b8d-a87e-a13331189073",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1-EO-Bcp3uVKDmVORSnHl4zQSrowctQKW",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        784
      ],
      "id": "47bc156b-ed59-4c08-b67c-8dd4ab4da350",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1a8AH29f4AULErlZblEfbBSnStKLryIDH",
        "title": "=영상 제안서"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1344,
        784
      ],
      "id": "97a379de-5cdb-4fe2-8308-b26e98a338c0",
      "name": "Create a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model3').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1552,
        784
      ],
      "id": "7c484121-dc50-4f32-bff8-a6625ae7c1e2",
      "name": "Update a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        960
      ],
      "id": "d5d7faa8-7dda-475d-bbdd-9976c80f5582",
      "name": "Get a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1NxcZ8HqnO0nwRTQog70-aac4N9nfAWxF",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        960
      ],
      "id": "3fb9667c-a237-4b76-8670-83647e3623d8",
      "name": "Google Drive Trigger3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 30년 경력의 총괄 전략 컨설턴트이자 콘텐츠 제작 매니저입니다. 고객사와의 모든 논의를 거쳐 최종 합의된 내용과 확정 예산을 바탕으로, 계약 체결을 위한 공식적인 '소셜미디어 영상 콘텐츠 기획안 최종본'을 작성해야 합니다. 보고서는 전략의 확신과 구체적인 실행 계획, 확정된 스펙 및 견적을 담아, 즉시 계약을 유도할 수 있도록 전문적이고 신뢰감을 주어야 합니다.\n[입력 데이터]\n1. 기존 제안서\n   - {{ $json.content }}\n\n[출력 형식 및 필수 목차]\nI. 프로젝트 개요 및 목표 설정\n   - 확정된 KPI (예: 조회수 500만 회, 전환율 0.5%) 제시.\nII. 시장 및 타겟 인사이트 분석\nIII. 최종 확정 콘텐츠 전략 및 컨셉\n   - 초안의 여러 아이디어 중 최종 확정된 1개의 컨셉에 대한 상세 설명.\nIV. 영상 콘텐츠 확정 상세 스펙 (숏폼 최적화)\n   - 확정된 스펙에 근거한 구체적인 러닝타임, 포맷, 제작 방식(OSMU 등) 명시.\n   -확정된 시퀀스 아이디어 또는 시리즈 구성 확정안 제시.\nV. 확정 제작 프로세스 및 운영 계획\n   - 콘텐츠 제작 매니저로서 확정된 제작 일정(착수일, 납품일) 및 품질 관리 프로세스 명시.\nVI. 최종 확정 견적 및 계약 조건\n   -(가장 중요)확정된 최종 계약 금액과 항목별 세부 비용을 명확히 제시하고, 계약금 및 잔금 지급 조건 명시.\n\n위에 제시된 정보를 모두 분석하고, 특히 최종 합의된 상세 스펙 및 확정 견적의 내용을 기반으로 기획안 샘플의 형식을 따르는 '소셜미디어 영상 콘텐츠 기획안 최종본'을 작성하십시오. 모든 내용은 확정적인 언어로 작성되어야 하며, 계약 체결을 위한 구체적인 확정 금액과 실행 일정을 명시해야 합니다.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        976,
        960
      ],
      "id": "4d8a7d4e-9f35-487a-b42d-7547f4cbb908",
      "name": "Message a model4",
      "credentials": {
        "googlePalmApi": {
          "id": "SoiNsIYnBNkgTInh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1a8AH29f4AULErlZblEfbBSnStKLryIDH",
        "title": "=영상 최종"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1344,
        960
      ],
      "id": "902e9d27-191d-4ff5-9282-8b0a6e6459a3",
      "name": "Create a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model4').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1552,
        960
      ],
      "id": "16f6dd0b-b4bd-4add-8580-f8fb988c5c77",
      "name": "Update a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1NxcZ8HqnO0nwRTQog70-aac4N9nfAWxF",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        784
      ],
      "id": "111d3ee6-758f-4291-84cf-a6c15729cddb",
      "name": "Move file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        1136
      ],
      "id": "bddc890d-092d-43a1-9015-ce23747f0952",
      "name": "Get a document6",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1NxcZ8HqnO0nwRTQog70-aac4N9nfAWxF",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1136
      ],
      "id": "4613cb8b-7fe1-4918-ad6b-6cc40f3b16ee",
      "name": "Google Drive Trigger4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 30년 경력의 총괄 전략 컨설턴트이자 콘텐츠 제작 매니저입니다. 고객사와의 모든 논의를 거쳐 최종 합의된 내용과 확정 예산을 바탕으로, 계약 체결을 위한 공식적인 '소셜미디어 영상 콘텐츠 기획안 최종본'을 작성해야 합니다. 보고서는 전략의 확신과 구체적인 실행 계획, 확정된 스펙 및 견적을 담아, 즉시 계약을 유도할 수 있도록 전문적이고 신뢰감을 주어야 합니다.\n[입력 데이터]\n1. 기존 제안서\n   - {{ $json.content }}\n\n[출력 형식 및 필수 목차]\nI. 프로젝트 개요 및 목표 설정\n   - 확정된 KPI (예: 조회수 500만 회, 전환율 0.5%) 제시.\nII. 시장 및 타겟 인사이트 분석\nIII. 최종 확정 콘텐츠 전략 및 컨셉\n   - 초안의 여러 아이디어 중 최종 확정된 1개의 컨셉에 대한 상세 설명.\nIV. 영상 콘텐츠 확정 상세 스펙 (숏폼 최적화)\n   - 확정된 스펙에 근거한 구체적인 러닝타임, 포맷, 제작 방식(OSMU 등) 명시.\n   -확정된 시퀀스 아이디어 또는 시리즈 구성 확정안 제시.\nV. 확정 제작 프로세스 및 운영 계획\n   - 콘텐츠 제작 매니저로서 확정된 제작 일정(착수일, 납품일) 및 품질 관리 프로세스 명시.\nVI. 최종 확정 견적 및 계약 조건\n   -(가장 중요)확정된 최종 계약 금액과 항목별 세부 비용을 명확히 제시하고, 계약금 및 잔금 지급 조건 명시.\n\n위에 제시된 정보를 모두 분석하고, 특히 최종 합의된 상세 스펙 및 확정 견적의 내용을 기반으로 기획안 샘플의 형식을 따르는 '소셜미디어 영상 콘텐츠 기획안 최종본'을 작성하십시오. 모든 내용은 확정적인 언어로 작성되어야 하며, 계약 체결을 위한 구체적인 확정 금액과 실행 일정을 명시해야 합니다.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        976,
        1136
      ],
      "id": "b4ee927b-a0ba-4d8f-9078-4466f2cc098b",
      "name": "Message a model5",
      "credentials": {
        "googlePalmApi": {
          "id": "SoiNsIYnBNkgTInh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1a8AH29f4AULErlZblEfbBSnStKLryIDH",
        "title": "=영상 최종"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1344,
        1136
      ],
      "id": "00eda633-697c-4d71-9399-a4dabbdee926",
      "name": "Create a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model5').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1552,
        1136
      ],
      "id": "fdcc18dc-71ad-4153-af8f-91161fa73ef2",
      "name": "Update a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "6XFFv5sI5TNQCG2R",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wOLQIY6AzK3dBEOOfKg3snUZhuj44-lS",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        960
      ],
      "id": "6d0ca099-30fe-466b-aac9-8ccd6b96fb57",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vaq75Nvi2fudlEm4",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Move file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        []
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document2": {
      "main": [
        [
          {
            "node": "Update a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document2": {
      "main": [
        []
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Create a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file3": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Move file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file4": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger2": {
      "main": [
        [
          {
            "node": "Get a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document4": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document3": {
      "main": [
        [
          {
            "node": "Update a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Create a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document5": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger3": {
      "main": [
        [
          {
            "node": "Get a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Create a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document4": {
      "main": [
        [
          {
            "node": "Update a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document3": {
      "main": [
        [
          {
            "node": "Move file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document6": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger4": {
      "main": [
        [
          {
            "node": "Get a document6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Create a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document5": {
      "main": [
        [
          {
            "node": "Update a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document4": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b9922a51-2e72-431d-8efa-2b3607780da2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f66912c3fb6b7f3ee99977ebd99a1ea7c2f24b503ea45c386d82cfeffface6eb"
  },
  "id": "2AGo5ZE5wRbZLGRU",
  "tags": []
}