codes/quests/14_send_email_inbulk.json
{
  "name": "14_send_email_inbulk",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ],
      "id": "75ebcfee-28ef-47d0-89e5-c977f6091dd3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['option gmail'] }}",
        "subject": "테스트] 예비 메일",
        "message": "={{ $('Extract from File').item.json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        -160
      ],
      "id": "279d2e5b-f231-4db5-bd8d-b568154bd72b",
      "name": "Send a message",
      "webhookId": "5656e512-5836-4273-ac80-62eb1d839ea1",
      "credentials": {
        "gmailOAuth2": {
          "id": "RcKoZuM8v0P2rHRa",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1YdWOFZjFO-LgkftinHKspA13F9NyGTkN",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        -160
      ],
      "id": "6a06e159-9ccc-4008-bf5a-2f49679e950a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9UW4mYTOlHYUYvxs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        -160
      ],
      "id": "23638974-5741-4fe0-aae1-abd7ac173412",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c82961ad-3b26-4a19-995c-eae8d62c0089",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "=text/markdown",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -144
      ],
      "id": "02e36630-3308-4d74-b7e8-ae135ef2ac22",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -160
      ],
      "id": "c9deda7a-af52-4f6b-8a57-ce805c36ca61",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9UW4mYTOlHYUYvxs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1040,
        -160
      ],
      "id": "ee659008-203a-4230-b63e-2b552b0d6df5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KfA1hx5ocpc_gchdvdGbGlq8YmPYN6wanXheTKeoZYk",
          "mode": "list",
          "cachedResultName": "제목 없는 스프레드시트",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KfA1hx5ocpc_gchdvdGbGlq8YmPYN6wanXheTKeoZYk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KfA1hx5ocpc_gchdvdGbGlq8YmPYN6wanXheTKeoZYk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        -160
      ],
      "id": "b0311d32-b2a7-4748-8162-0205bd8f50ca",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx5MhiNnSGFk5CFq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        16
      ],
      "id": "ce724d63-3b1b-4d4e-a49f-0e2fa5ce1b9f",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9UW4mYTOlHYUYvxs",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27fe7c7a-2af1-47f3-9f97-91ac1d725b18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf8f9642b0f8ec0fe291ff99c4eafe95110dd51880fef554a79deba33f427ef2"
  },
  "id": "LU6neAP396fYMvKC",
  "tags": []
}